<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  Add a quote
  <form action="/quotes" method="post">
    name: <input type="text" name="name">
    quote: <input type="text" name="quote">
    <input type="submit">
  </form>
  <a href="/main">to the quote</a>
</body>
</html>
